* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}

input {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: #F0F8EA;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #ffffff;
}

button:disabled {
  background-color: #ffffff50;
}

.input-field {
  width: 100%;
  padding: 20px;
  max-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.app {
  display: flex;
}

h1 {
  color: #fff;
  font-size: 50px;
  margin-bottom: 50px;
}

.player1 {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0b9093;
  width: 50%;
}

.player2 {
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F05D5E;
  width: 50%;
}

.inactive {
  filter: brightness(0.8);
}

.animal-outer {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

h2 {
  width: 50px;
}

.animals {
  display: flex;
  align-items: center;
  gap: 10px;
}

.background {
  position: absolute;
  width: 100%;
  background: #00000030;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  width: 300px;
  background: #140F2D;
  aspect-ratio: 1;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 767px) {
  .app {
    flex-direction: column;
  }

  .player1,
  .player2 {
    width: 100%;
  }

  .inactive {
    display: none;
}
}